



@import 'base/variables';

@import 'theme-styling/mixin';

//Import Bootstrap grid only
@import 'mixin/variables';
@import 'mixin/mixins';
@import 'mixin/grid';


@import 'theme-styling/navigation';
@import 'theme-styling/basic-layout';

@import 'typo/typography';

@import 'theme-styling/theme.scss';

@import 'theme-styling/filter';

@import 'theme-styling/loader';

@import 'theme-styling/single-tour';

@import 'theme-styling/magnific-pop-up-animation';

@import 'theme-styling/review';

@import 'theme-styling/sidebar-book-form';

@import 'theme-styling/breadcrumbs';

@import 'theme-styling/cart-page';

@import 'theme-styling/checkout';

@import 'theme-styling/responsive-tabs';

@import 'theme-styling/i-accordion';

@import 'theme-styling/timeline';

@import 'theme-styling/pagination';

@import 'theme-styling/black-theme';

@import 'theme-styling/tooltip-theme';
