//color

$white: #fff;
$black: #000;

$color_red_orange:       #f83632;
$color_azure_radiance:   #007bff;
$color_terracotta:       #dd785a;
$color_sea_green:        #28a745;
$color_science_blue:     #0069d9;
$color_pizazz:           #f80;
$color_tall_poppy:       #b21f2d;
$color_light_white:      #f8f8f8;
$color_dark_black:       #333;
$color_pale_sky:         #6c757d;
$color_border_default:   #e0e0e0;
$color_whites_black:     #eee;
$color_semiwhite-black:  #ddd;
//font color
$light_dark: #333;

$primary:               $color_red_orange;
$default:               $color_azure_radiance;
$secondary:             $color_terracotta;
$success:                $color_sea_green;
$info:                  $color_science_blue;
$warning:               $color_pizazz;
$danger:                $color_tall_poppy;
$light-white:           $color_light_white;
$dark-black:            $color_dark_black;
$muted:                 $color_pale_sky;
$border-color:          $color_border_default;
$color_grey:            $color_whites_black;
$default_font_color:    $light_dark;

//font
$base-font-family: "Roboto", "Lato",Arial, sans-serif;
$alt-font-family: "Roboto", Georgia, sans-serif;

$base-font-size: 1rem;
$default-line-height: 1.5;
$heading-line-height: 1.2;
$rhythm-unit: "rem";

$font-size-lg:                ($base-font-size * 1.25) !default;
$font-size-sm:                ($base-font-size * .875) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.333 !default;

$h1-font-size:                $base-font-size * 2.5 !default;
$h2-font-size:                $base-font-size * 2 !default;
$h3-font-size:                $base-font-size * 1.75 !default;
$h4-font-size:                $base-font-size * 1.5 !default;
$h5-font-size:                $base-font-size * 1.25 !default;
$h6-font-size:                $base-font-size !default;


